<section class="section">
  <div class="container">
    <div class="media">
      <div class="media-content">
        <p class="title is-2"><%= @designer.name %></p>
      </div>
      <% if @designer.name_jp.present? %>
        <div class="media-content">
          <p class="title is-2"><%= @designer.name_jp %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-right py-0">
        Total : <%= @games.size %>
      </div>
    </div>
    <div class="columns is-multiline">
      <% @games.each.with_index do |g, i| %>
        <% game = g.game %>
        <div class="column is-2">
          <div class="card">
            <div class="card-image">
              <figure class="is-flex is-align-items-center is-justify-content-center image">
                <%= link_to search_path(game) do %>
                  <% if !game.thumbnail_url.nil? %>
                    <img src="<%= game.thumbnail_url %>" />
                  <% else %>
                    <img src="/assets/no-image" />
                  <% end %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="content content-title">
                <%=link_to get_name_jp(game), search_path(game) %>
              </div>
              <div class="content">
                <span class="icon is-left">
                  <i class="far fa-clock" aria-hidden="true"></i>
                </span>
                <%= game.playing_time %>min 
                <span class="icon is-left">
                  <i class="far fa-calendar-alt" aria-hidden="true"></i>
                </span>
                <%= game.release_year %>
                <br>
                <span class="icon is-left">
                  <i class="fas fa-users" aria-hidden="true"></i>
                </span>
                <%= get_player(game.player_min, game.player_max, game.player_best) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
